@import 'theme.less';

body {
  background-image: url(/minified_opaque_four_horsemen.png);
  background-repeat: repeat;
  background-position: top center;
  background-size: 300px 250px;
}

#sign-in {
  & > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    border: 1px solid @border-color;
    border-radius: 5px;
    padding: 3rem;
    text-align: center;
    width: 32rem;
    height: 36rem;

    & > div {
      padding: 1rem 4rem;
      text-align: left;

      & > span {
        &:nth-of-type(1) { margin-bottom: 0.5rem; }
        &:nth-of-type(2) { margin-bottom: 0.2rem; }
        & > span.ant-input-prefix { color: darkgrey; }
        & > input.ant-input { padding-left: 2rem; }
      }

      & > button { margin-top: 1rem; }
    }
  }
}

#forgot-password {
  & > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);

    background-color: white;
    border: 1px solid @border-color;
    border-radius: 5px;
    padding: 3rem;
    text-align: center;
    width: 32rem;
    height: 20rem;

    & > div {
      padding: 1rem 4rem;

      & > span {
        margin-bottom: 2rem;

        & > span.ant-input-prefix { color: darkgrey; }
        & > input.ant-input { padding-left: 2rem; }
      }

      & > i {
        color: green;
        font-size: 2rem;
        margin-top: 0.2rem;
        margin-bottom: 2.3rem;
      }
    }
  }
}

#sign-up {
  & > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    border: 1px solid @border-color;
    border-radius: 5px;
    padding: 3rem;
    text-align: center;
    width: 32rem;
    height: 36rem;

    & > div {
      padding: 1rem 4rem;

      & > span {
        &:nth-of-type(1) { margin-bottom: 0.5rem; }
        &:nth-of-type(2) { margin-bottom: 0.2rem; }
        & > span.ant-input-prefix { color: darkgrey; }
        & > input.ant-input { padding-left: 2rem; }
      }

      & > button { margin-top: 1rem; }
    }
  }
}

#home {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;

  & > div:nth-of-type(1) {
    border-left: 1px solid @border-color;
    background-color: white;
    padding: 1rem 1rem;
    height: 100%;

    & > span { cursor: pointer; }
  }

  & > div:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    overflow: auto;

    & > div.column {
      background-color: white;
      border: 1px solid @border-color;
      border-radius: 5px;
      margin-right: 1rem;
      padding: 0.5rem;
      min-width: 22rem;
      max-width: 22rem;
      height: fit-content;

      &.column-add-placeholder {
        border-style: dashed;
        cursor: pointer;
        text-align: center;
        opacity: 0.8;

        &:hover {
          border-color: grey;
          color: grey;
          opacity: 1;
        }
      }

      & > div:nth-of-type(1) {
        display: flex;
        justify-content: space-between;

        & > h4 {
          border: 1px solid transparent;
          border-radius: 5px;
          margin: 0;
          padding: 1px 0.5rem;
          width: 88%;

          &:hover {
            border-color: @border-color;
            cursor: default;
          }
        }

        & > input {
          border-radius: 5px;
          font-size: 20px;
          font-weight: 600;
          padding: 0 0.5rem;
          width: 88%;
        }

        & > button {
          background-color: white;
          margin-top: 0.2rem;
          margin-right: 0.2rem;

          &:hover {
            background-color: red;
            color: white;
          }
        }
      }

      & > div:nth-of-type(2) {
        min-height: 12rem;

        & > .todo {
          display: flex;
          justify-content: space-between;
          background-color: white;
          border: 1px solid @border-color;
          border-radius: 5px;
          margin-top: 0.3rem;
          padding: 0.5rem;

          &.todo-add-placeholder {
            justify-content: center;
            border-style: dashed;
            color: darkgrey;
            cursor: pointer;

            &:hover {
              border-color: grey;
              color: grey;
            }

            & > i { margin-top: 4px; }
          }

          &.todo-add-input {
            height: 39px;
          }

          & > span:nth-of-type(2) {
            color: darkgrey;
            min-width: 51px;

            & > a { color: inherit; }
            & > a:nth-of-type(1):hover { color: @link-color; }
            & > a:nth-of-type(2):hover { color: red; }
          }
        }
      }
    }
  }
}

div.ant-popover-buttons {
  & > button:nth-of-type(2) {
    background-color: white;

    &:hover {
      background-color: red;
      color: white;
    }
  }
}
