@import 'theme.less';

body {
  background-image: url(/minified_opaque_four_horsemen.png);
  background-repeat: repeat;
  background-position: top center;
  background-size: 300px 250px;
}

#sign-in {
  & > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    border: 1px solid @border-color-xlight;
    border-radius: 5px;
    padding: 3rem;
    text-align: center;
    width: 32rem;
    height: 36rem;

    & > div {
      padding: 1rem 4rem;
      text-align: left;

      & > span {
        &:nth-of-type(1) { margin-bottom: 0.5rem; }
        &:nth-of-type(2) { margin-bottom: 0.2rem; }
        & > span.ant-input-prefix { color: darkgrey; }
        & > input.ant-input { padding-left: 2rem; }
      }

      & > button { margin-top: 1rem; }
    }
  }
}

#forgot-password {
  & > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);

    background-color: white;
    border: 1px solid @border-color-xlight;
    border-radius: 5px;
    padding: 3rem;
    text-align: center;
    width: 32rem;
    height: 20rem;

    & > div {
      padding: 1rem 4rem;

      & > span {
        margin-bottom: 2rem;

        & > span.ant-input-prefix { color: darkgrey; }
        & > input.ant-input { padding-left: 2rem; }
      }

      & > i {
        color: green;
        font-size: 2rem;
        margin-top: 0.2rem;
        margin-bottom: 2.3rem;
      }
    }
  }
}

#sign-up {
  & > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    border: 1px solid @border-color-xlight;
    border-radius: 5px;
    padding: 3rem;
    text-align: center;
    width: 32rem;
    height: 36rem;

    & > div {
      padding: 1rem 4rem;

      & > span {
        &:nth-of-type(1) { margin-bottom: 0.5rem; }
        &:nth-of-type(2) { margin-bottom: 0.2rem; }
        & > span.ant-input-prefix { color: darkgrey; }
        & > input.ant-input { padding-left: 2rem; }
      }

      & > button { margin-top: 1rem; }
    }
  }
}

#home {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;

  & > div:nth-of-type(1) {
    padding: 1rem 1rem;

    & > span { cursor: pointer; }
  }

  & > div:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    overflow: auto;

    & > div {
      display: flex;
      flex-direction: row;

      & > div.column {
        background-color: white;
        border: 1px solid @border-color-xlight;
        border-radius: 5px;
        margin-right: 1rem;
        padding: 0.5rem;
        min-width: 22rem;
        max-width: 22rem;
        height: fit-content;

        & > div:nth-of-type(1) {
          display: flex;
          justify-content: space-between;

          & > h4 {
            border: 1px solid transparent;
            border-radius: 5px;
            margin: 0;
            padding: 1px 0.5rem;
            width: 88%;

            &:hover {
              border-color: @border-color;
              cursor: default;
            }
          }

          & > input {
            border-color: @border-color;
            border-radius: 5px;
            font-size: 20px;
            font-weight: 600;
            padding: 0 0.5rem;
            width: 88%;
          }

          & > button {
            background-color: transparent;
            border-color: @border-color-dark;
            color: red;
            margin-top: 0.2rem;
            margin-right: 0.2rem;

            &:hover {
              background-color: red;
              color: white;
            }
          }
        }

        & > div:nth-of-type(2) {
          min-height: 12rem;

          & > .todo {
            display: flex;
            justify-content: space-between;
            background-color: white;
            border: 1px solid @border-color;
            border-radius: 5px;
            margin-top: 0.3rem;
            padding: 0.5rem;

            &.todo-add-placeholder {
              justify-content: center;
              background-color: transparent;
              border-color: @border-color-dark;
              border-style: dashed;
              color: darkslategrey;
              cursor: pointer;

              &:hover {
                border-color: black;
                color: black;
              }

              & > i { margin-top: 4px; }
            }

            &.todo-add-input {
              height: 39px;
            }

            & > input {
              border: none;
              line-height: 21px;
              margin: 0;
              padding: 0;
              width: 80%;
              height: 21px;
            }

            & > span:first-child { margin-right: 0.5rem; }
            & > span:last-of-type {
              color: grey;
              min-width: 51px;
              max-width: 51px;

              & > a { color: inherit; }
              & > a:nth-of-type(1):hover { color: @link-color; }
              & > a:nth-of-type(2):hover { color: red; }
            }
          }
        }

        &.white {
          background-color: @white;
          & > div > h4:hover { border-color: @border-color-light; }
          & > div > input { border-color: @border-color-light; }
          & > div > button { border-color: @border-color-light; }
          & div.todo { border-color: @border-color-light; }
          & div.todo.todo-add-placeholder {
            border-color: darkgrey;
            color: darkgrey;
          }
          & div.todo.todo-add-placeholder:hover {
            border-color: @border-color;
            color: lightslategrey;
          }
          & input.todo.todo-add-input { border-color: @border-color-light; }
        }
        &.blue {
          background-color: @blue;
          & input { background-color: @blue-todo; }
          & div.todo { background-color: @blue-todo; }
          & div.todo-add-placeholder:hover { background-color: @blue-todo; }
          & input.todo { background-color: @blue-todo; }
        }
        &.purple {
          background-color: @purple;
          & input { background-color: @purple-todo; }
          & div.todo { background-color: @purple-todo; }
          & div.todo-add-placeholder:hover { background-color: @purple-todo; }
          & input.todo { background-color: @purple-todo; }
        }
        &.pink {
          background-color: @pink;
          & input { background-color: @pink-todo; }
          & div.todo { background-color: @pink-todo; }
          & div.todo-add-placeholder:hover { background-color: @pink-todo; }
          & input.todo { background-color: @pink-todo; }
        }
        &.red {
          background-color: @red;
          & input { background-color: @red-todo; }
          & div.todo { background-color: @red-todo; }
          & div.todo-add-placeholder:hover { background-color: @red-todo; }
          & input.todo { background-color: @red-todo; }
        }
        &.orange {
          background-color: @orange;
          & input { background-color: @orange-todo; }
          & div.todo { background-color: @orange-todo; }
          & div.todo-add-placeholder:hover { background-color: @orange-todo; }
          & input.todo { background-color: @orange-todo; }
        }
        &.yellow {
          background-color: @yellow;
          & input { background-color: @yellow-todo; }
          & div.todo { background-color: @yellow-todo; }
          & div.todo-add-placeholder:hover { background-color: @yellow-todo; }
          & input.todo { background-color: @yellow-todo; }
        }
        &.green {
          background-color: @green;
          & input { background-color: @green-todo; }
          & div.todo { background-color: @green-todo; }
          & div.todo-add-placeholder:hover { background-color: @green-todo; }
          & input.todo { background-color: @green-todo; }
        }
      }
    }

    & > div.column-add-placeholder {
      display: flex;
      justify-content: center;
      background-color: white;
      border: 1px solid @border-color-dark;
      border-style: dashed;
      border-radius: 5px;
      color: darkslategrey;
      cursor: pointer;
      margin-right: 1rem;
      padding: 0.5rem;
      opacity: 0.8;
      min-width: 22rem;
      max-width: 22rem;
      height: fit-content;

      &:hover {
        border-color: black;
        color: black;
        opacity: 1;
      }

      & > i { margin-top: 4px; }
    }
  }
}

div.home-avatar-dropdown {
  & > ul > li:first-child {
    color: rgba(0, 0, 0, 0.65);
    cursor: default;

    &:hover { background-color: #e6f7ff; }
  }
}

div.ant-popover-buttons {
  & > button:nth-of-type(2) {
    background-color: white;
    color: red;

    &:hover {
      background-color: red;
      color: white;
    }
  }
}

div.ant-modal {
  height: 100%;
  padding-top: 24px;

  & div.ant-modal-content {
    display: flex;
    flex-direction: column;
    height: 100%;

    & div.ant-modal-header { padding-bottom: 0; }

    & div.ant-modal-body {
      flex-grow: 1;
      overflow: scroll;
      padding: 1rem 16% 3rem;

      & > div:nth-of-type(1) > span { margin-right: 1rem; }

      & > div:nth-of-type(3) {
        & > span { color: darkgrey; }

        & > div {
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 0.5rem;

          & > span {
            margin-right: 1rem;
            min-width: 100px;
            width: 30%;
          }

          & > div {
            display: flex;
            justify-content: space-between;
            margin: auto 0;
            min-width: 200px;
            width: 45%;

            & > label {
              margin: 0;

              & > span:nth-of-type(1):hover {
                & span.ant-radio-inner {
                  border-color: darkgrey;
                }
              }

              & > span:nth-of-type(2) { padding: 0; }
            }

            & label.ant-radio-wrapper:nth-of-type(1) {
              & span.ant-radio-inner {
                background-color: @white;
              }
            }
            & label.ant-radio-wrapper:nth-of-type(2) {
              & span.ant-radio-inner {
                background-color: @blue;
              }
            }
            & label.ant-radio-wrapper:nth-of-type(3) {
              & span.ant-radio-inner {
                background-color: @purple;
              }
            }
            & label.ant-radio-wrapper:nth-of-type(4) {
              & span.ant-radio-inner {
                background-color: @pink;
              }
            }
            & label.ant-radio-wrapper:nth-of-type(5) {
              & span.ant-radio-inner {
                background-color: @red;
              }
            }
            & label.ant-radio-wrapper:nth-of-type(6) {
              & span.ant-radio-inner {
                background-color: @orange;
              }
            }
            & label.ant-radio-wrapper:nth-of-type(7) {
              & span.ant-radio-inner {
                background-color: @yellow;
              }
            }
            & label.ant-radio-wrapper:nth-of-type(8) {
              & span.ant-radio-inner {
                background-color: @green;
              }
            }

            & label.ant-radio-wrapper-checked {
              & input.ant-radio.input:focus { outline: none; }
              & span.ant-radio-inner {
                border-color: grey;
                &::after {
                  background-color: grey;
                  top: 4px;
                  left: 4px;
                  width: 6px;
                  height: 6px;
                }
              }
            }
          }
        }
      }

      & > div:nth-of-type(5) {
        & > h4 { margin-bottom: 0; }

        & > input {
          margin-top: 0.5rem;
          margin-right: 0.5rem;
          max-width: 300px;
        }

        & > button { margin-top: 0.5rem; }
      }

      & > div:nth-of-type(7) {
        & > span {
          max-width: 300px;
          margin-bottom: 0.3rem;
        }

        & > div:last-of-type { margin-top: 0.2rem; }
      }
    }
  }
}
