@import '/node_modules/antd/dist/antd.less';

@border-color-dark: darkslategrey;
@border-color: lightslategrey;
@border-color-light: #cccccc;
@border-color-xlight: #dddddd;

@white: #ffffff;
@blue: #addfff;
@purple: #eeccff;
@pink: #fdd7e4;
@red: #ffb3b3;
@orange: #ffd699;
@yellow: #fff0b3;
@green: #c2f0c2;

@blue-todo: #ccebff;
@purple-todo: #f4e0ff;
@pink-todo: #fee7ef;
@red-todo: #ffc7c7;
@orange-todo: #ffe0b3;
@yellow-todo: #fff5cc;
@green-todo: #d6f5d6;
