@import '/node_modules/antd/dist/antd.less';

@border-color: darkslategrey;
@border-color-light: lightslategrey;
@white: #ffffff;
@blue: #addfff;
@purple: #eeccff;
@pink: #fdd7e4;
@red: #ffb3b3;
@orange: #ffd699;
@yellow: #fff0b3;
@green: #c2f0c2;
